<div class="center">
  <mat-card>
      <mat-card-title>Sign in</mat-card-title>
      <hr>
      <mat-card-content>
        <form (ngSubmit)="onLogin()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email" name="email" [(ngModel)]="user.email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="user.password">
            </mat-form-field>
          </p>
          <div class="button">
            <button type="submit" mat-button style="position: absolute; left: 0;" (click)="onGotoRegister()" >Create an account</button>
            <button type="submit" mat-button (click)="onLogin()">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>
